old/*
#xpsync/dualxp/*.baf
#xpsync_build/template_*class.baf
#xpsync/bands/*.baf
#xpsync_build/template_xpsgranx.baf
#xpsync_build/template_xpsgrapx.baf
#xpsync_build/template_xps_maix.baf
#xpsync_build/template_xps_wipx.baf
